{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="{% static '\styles\global-style.css' %}">
</head>

<body>
    <header class="cabecalho"> 
        <nav class="cabecalho__menu">
            <a class="cabecalho__menu__link" href="{% url 'inicio' %}"> Início </a>
            <a class="cabecalho__menu__link" href="{% url 'inserir' %}"> Inserir </a>
            <a class="cabecalho__menu__link" href="{% url 'visualizar' %}"> Visualizar </a>
        </nav>
    </header>

    <p> Visualizar </p>